html,
body,
* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
p {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  padding-bottom: 3px;
  font-weight: 600;
}
button {
  flex: 0 0 auto;
  min-width: 70px;
  padding: 10px;
  margin: 10px;
  background-color: #c58af8;
  border: 1px solid black;
  box-shadow: 2px 2px 1px 1px black;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: rgb(176, 98, 245);
    box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.584);
  }
  &:active {
    background-color: rgb(255, 7, 7);
    color: white;
  }
}
.title {
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-radius: 0 10px 10px 0;
  min-width: 300px;
  background-color: #c58af8;
  text-align: right;
  padding: 5px 10px;
  z-index: 1000;
  h3 {
    font-size: 22px;
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    padding-bottom: 2px;
  }
  p {
    color: #000000;
  }
}
.gap {
  height: 10px;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;

  height: 94vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgba(240, 220, 249, 0.9);
  padding: 20px;
}

.size-label {
  margin-top: 50px;
}
.menu-toggle-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.sort,
.stop {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.stop {
  top: 10px;
  right: 100px;
  background: 000;
}
.hide {
  display: none !important;
}
input,
select {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 1px 1px black;
  padding: 10px 10px;
}
/* slider css */
input[type="range"] {
  -webkit-appearance: none; /* For WebKit browsers (Chrome, Safari) */
  -moz-appearance: none; /* For Mozilla Firefox */
  appearance: none; /* Standard property */
  background: transparent; /* Remove default background */
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd; /* Example background color */
  height: 8px; /* Example height */
  border-radius: 4px; /* Example rounded corners */
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Reset default thumb appearance */
  width: 20px; /* Example width */
  height: 20px; /* Example height */
  background: #0d0d0d; /* Example background color */
  border-radius: 50%; /* Example for a circular thumb */
  margin-top: -6px; /* Adjust to center vertically on the track */
}

@media (max-width: 600px) {
  .menu,
  .title {
    width: 100vw;
  }
}
